#targetMe{
    position:absolute;
    color: white;
    padding: 3%;
    top: 100px;
    border: 1px solid white;
}
#imgLogo{
    background: white;
}
body{
    background: radial-gradient(rgb(9, 19, 34), rgb(5, 5, 5));
}