.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }
    
    .div1 {
        grid-area: 1 / 3 / 2 / 4;
        text-align: center;
        width: 100%;
        height: 10rem;
        border: 1px dotted rgba(167, 56, 56, 0.137);
        }
    .div2 {
        grid-area: 2 / 2 / 3 / 5;
        border: 1px solid red;
        height: 10rem;
        background: rgba(128, 128, 128, 0.116);
         }
    .div3 {
        grid-area: 3 / 2 / 5 / 3; 
        height: 30rem;
        background: rgba(179, 19, 19, 0.281);
         }
    .div4 {
        grid-area: 3 / 4 / 5 / 5;
        background: rgba(255, 255, 255, 0.199);
         }
    .div5 {
        grid-area: 3 / 3 / 5 / 4;
        height: 60rem;
        background: rgb(170, 87, 87);
         }
    .div6 { grid-area: 5 / 2 / 6 / 5;
        height: 30rem;
        background: cyan;
         }
#imgLogo{
    border: 1px solid rgba(0, 0, 0, 0.171);
}
h1{
    font-size: x-small;
}
body{
    color: white;
    background: linear-gradient(rgb(7, 13, 22), rgb(0, 0, 0));
}